$color-background: #0d0f33;
$color-first: #3260f5;
$color-second: #16b599;
$color-third: #eb001d;
$color-fourth: #f5941d;
$color-fifth: #391d71;
$color-sixth: #032e90;
$color-seventh: #476532;
$color-heigth: #e5e5e7;
